#main{
height:auto;
width:80%;
}

#header{
width:100%;
height:70px;
background-color:#FF6600;
border-style:groove;
border-color:#FF0000;
float:left;
}

#head-left{
width:20%;
float:left;
}

#head-mid{
width:50%;
float:left;
}

#head-ryt{
width:30%;
float:left;
}

#heading{
text-align:center;
color:#FFFFFF;
text-shadow:2px 2px 2px red;
}

#content{
width:100%;
height:auto;
float:left;
border-style:groove;
border-color:#FF0000;
}

.tf{
border-radius:0px 10px 10px 0px;
margin-top:10px;
border:groove;
height:22px;
width:300px;
margin-left:0px;
padding-left:5px;
border-color:#FF0000;
color:#FF3300;
}

.bt{
height:30px;
border:solid;
border-color:#FF0000;
width:30px; 
background-position:center; 
margin-top:10px; 
margin-left:-30px; 
position:absolute; 
border-radius:10px 0px 0px 10px;
 background-color:#FF9933; 
  background-repeat:no-repeat;
}